@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply font-poppins
}

.image {
  width: 120px;
  height: 120px;
}

.img-error {
  width: 100%;
  height: 400px;
}

/* Active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
  @apply bg-primary text-base-100
}

/* For dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
  @apply bg-base-100
}

/* For dark mode*/
.mary-table-pagination button {
  @apply bg-base-100
}

.mary-table-pagination p span {
  @apply font-bold
}