@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Active page highlight */
.mary-table-pagination span[aria-current="page"]>span {
  @apply bg-black dark:bg-slate-200 text-base-100
}

/* For dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
  @apply bg-inherit
}

/* For dark mode*/
.mary-table-pagination button {
  @apply bg-inherit
}